.mainLayout {
    display: grid;
    grid-template-rows: 30px 300px 1fr;
    margin: 0 auto;
    padding-top: 20px;
    height: 100vh;
    max-width: 1000px;
}

.header {
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 20px;
}

.title {
    text-align: center;
    text-decoration: none;
    color: #26355D;
}

.main {
    padding: 20px;
}