.error {
    margin: 0;
    color: red;
}

.wrapper[data-size="xs"] .error {
    font-size: 0.6rem;
}

.wrapper[data-size="sm"] .error {
    font-size: 0.725rem;
}

.wrapper[data-size="md"] .error {
    font-size: 0.85rem;
}

.wrapper[data-size="lg"] .error {
    font-size: 0.975rem;
}

.wrapper[data-size="xl"] .error {
    font-size: 1.1
}